
{% extends "base.html" %}
{% block title %} Index Page {% endblock %}
{% block content %}
    <div class="box">
        <h1>Hello from Flask!</h1>
        <p>{{ value }}</p>
        <p>{{ result }}</p>
        <ul>
            {% for i in list %}
            {% if i==33 %}
                <li style="color: red;">{{ i }}</li>
                {% else %}
                <li>{{ i }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{{url_for('otherSome')}}">Other Some</a>

    <h1>
        JavaScript JSON Request
    </h1>
    <button id="post_btn">Sent Post Req</button>

    <script type="text/javascript">
        const postBtn = document.getElementById('post_btn');
        const jsonData = {name: 'Sutooo', greeting: 'Hello'};

        postBtn.addEventListener('click', function () {
            fetch('{{ url_for("handle_post") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(jsonData)
            })
                .then(response => response.json())
                .then(data => console.log('success:' ,data))
                .catch(error => {
                    console.log('error:', error)
                });
        });
    </script>
   {% endblock %} 

